@page "/"

<PageTitle>Home</PageTitle>

<h1 class="mb-5">Clinic Appointment Booking System</h1>

<h5>Welcome to the Department of Health and Wellness's new patient booking system. 
Here you will be able to make an appointment to see a doctor at any of our many clinics.
</h5>